 ui
    li
      a(href="http://www.thingiverse.com") Thing Verse
    | : Downloadable 3d content
    li
      a(href="https://www.myminifactory.com") My mini Fctory
    | : Downloadable 3d content
    li
      a(href="https://pinshape.com") Pin Shape
    | : Downloadable 3d content
    li
      a(href="https://www.youmagine.com") You Imagine
    | : Downloadable 3d content
    li
      a(href="http://www.123dapp.com/Gallery/content/all") AutoDesk 123 Gallery
    | : Downloadable 3d content
    li
      a(href="http://www.yeggi.com") Yeggi
    | : Downloadable 3d content
    li
      a(href="https://www.yobi3d.com/#!/") Yobi 3D
    | : Downloadable 3d content
    li
      a(href="https://www.cgtrader.com") CG Trader
    | : Downloadable 3d content
    li
      a(href="https://grabcad.com/library") Grab Cad
    | : Downloadable 3d content
    li
      a(href="http://3d.si.edu") Smithsonian X 3D
    | : Aryifacts in 3d format
    li
      a(href="https://www.youtube.com/user/PrintThatThing") Print That Thing's Youtube Channel
    | : Downloadable 3d content